<div class="grid m-0 p-0">
    <div class="col-12 pg-no-found-header ">
        Página no encontrada
    </div>
    <div class="col-12 pg-no-found-porta">
        <img src="assets/img/not-found.svg"   class="img-pg-no-found"/>
    </div>
    <div class="col-12 pg-no-found-body texto">
        La página que intentas acceder no se encuentra, puedes ir a la opción inicio para mayor información sobre el evento.
    </div>
    <div class="col-12 flex justify-content-center pb-5">
        <button pButton pRipple type="button" label="Ir a Inicio" icon="pi pi-arrow-right" iconPos="right" (click)="goInicio()"  class="p-button-sm btn-ir-inicio"></button>
    </div>
</div>
